<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5 text-center">
        <h1 class="mb-4">Bem-vindo ao OrganizaTEA!</h1>
        <div class="mb-3">
            <a href="{% url 'card_list' %}" class="btn btn-primary btn-lg">Entrar como Convidado</a>
        </div>
        <div>
            <a href="{% url 'login' %}" class="btn btn-success btn-lg">Fazer Login</a>
        </div>
    </div>
</body>
</html>
